@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sequel";
  src: url("../fonts/Sequel100Black-65.ttf") format("truetype");
}
@font-face {
  font-family: "Array";
  src: url("../fonts/Array-Semibold.woff2") format("woff2"),
    url("../fonts/Array-Semibold.woff") format("woff"),
    url("../fonts/Array-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}


.slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  border-radius: 14px;
}
.slide::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(241.68deg, #fe394e 1.6%, #0f1a20 38.62%);
  border-radius: 14px;
}
.slide::after {
  content: '';
  height: 100%;
  width: 100%;
  background: #0f1a20;
  position: absolute;
  z-index: 3;
  right: 2.5px;
  top: 2.5px;
  border-radius: 14px;
}
.slide-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: linear-gradient(
    62.42deg,
    rgba(255, 255, 255, 0.1) 20.61%,
    rgba(255, 255, 255, 0) 82.27%
  );
  border-radius: 14px;
}
.slide-gradient::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 4;
  background: url('/assets/backgrounds/Granular-bg.svg');
  border-radius: 14px;
}

.card2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  border-radius: 14px;
}
.card2::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(241.68deg, #fe394e 1.6%, #0f1a20 38.62%);
  border-radius: 14px;
}
.card2::after {
  content: '';
  height: 100%;
  width: 100%;
  background: #0f1a20;
  position: absolute;
  z-index: 3;
  left: 0.5px;
  top: 1px;
  border-radius: 14px;
}
.card2-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: linear-gradient(253.09deg, rgba(15, 26, 32, 0.25) -7.53%, rgba(15, 26, 32, 0) 97.04%);
  border-radius: 14px;
}
.card2-gradient::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 4;
  background: url('/assets/backgrounds/Rectangle2.svg');
  border-radius: 14px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  border-radius: 14px;
}

.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(241.68deg, #fe394e 1.6%, #0f1a20 38.62%);
  border-radius: 14px;
}

.card::after {
  content: '';
  height: 100%;
  width: 100%;
  background: #0f1a20;
  position: absolute;
  z-index: 3;
  left: 0.5px;
  top: 1px;
  border-radius: 14px;
}

.card-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
  background: linear-gradient(253.09deg, rgba(15, 26, 32, 0.25) -7.53%, rgba(15, 26, 32, 0) 97.04%);
  border-radius: 14px;
}
.card-gradient::after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -2;
  background: url('/assets/backgrounds/Rectangle.png');
  border-radius: 14px;
}
